body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
}

.map {
    height: 1000px;
}

.message-form {
    background-color: #ffffff87;
    z-index: 999;
    position: absolute;
    top: 15px;
    right: 15px;
}

.loading_svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}